<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">



      <!-- logo -->
      <a  id="header-logo" class="navbar-item" routerLink="/home"></a>
    </div>

    <!-- left-side items -->
    <div class="navbar-start">
    <a class="navbar-item" routerLink="">
    Home
    </a>
    <a class="navbar-item" routerLink="">
      My Projects
      </a>
    

 <div> 
   
  <form id="form" class="srch search" role="search">
    <input type="search" id="query" name="q"
     placeholder="Search..."
     aria-label="Search through site content">
    <button>
      <img src="/assets/img/search-icon1.png" alt="">
    </button>
  </form>
  </div>
</div>
  
  <!-- RIGHT SIDE -->
  <div class="navbar-end">
    <a class="navbar-item">
      Create a Project
    </a>
    <a class="navbar-item">
      My Profile
    </a>

    </div>
  
    <!-- LOGIN -->
    <button onclick="accessToMetamask()">CLICK ME
    </button>

    <a  id="login" class="navbar-item srch">
    </a> 
 



  </nav>